@font-face {
    font-family: 'AA Sameer Kelk';
    src: url('subset-AASameerKelk.woff2') format('woff2'),
        url('subset-AASameerKelk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

